*{
  size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    color:black;

}

body{
  background-color:bisque;
  

}
#myProgress {
    width: 20%;
    background-color: grey;
  }
  #outputTesseract{
    
    max-width: 50%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #000000;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }

#title{
  font-size: 20px;
  text-align: center;
}

#mainStep{
  position: relative;
  size:20px;
  font-size: 15px;
  width: 40%;
  
}

#description{
  position: relative;
  size:20px;
  font-size: 15px;
  width: 40%;
}
.false{
  color:red;

}
#myImg{
  float:left;
  max-width: 25%;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
}

