div{
    color:black;
    size: 20px;

}
#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }

#title{
  position: absolute; 
  left: 50%; 
  top: 50%;
  size:20px;
  transform: translate(-50%,-50%);
  font-size: 20px;
}