div{
    color:black;
    size: 20px;

}
#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }

#title{
  position: relative; 
  left: 50%; 
  width: 20vw;
  transform: translate(-50%,0);
  font-size: 20px;
}

#mainText{
  position: relative;
  size:20px;
  font-size: 15px;
  width: 40%;
}